.navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 100;
}

.navigation a {
    display: block;
    color: #ffffff7d;
    font-size: 1.5rem;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    transition: color 0.3s;
}

/* Change the link color to #111 (black) on hover */
.navigation a:hover {
    color: rgba(0,0,0,0.5);
}
.navigation .active {
    color: #4CAF50;
}